
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, update: if isOwner(userId);
      // Anyone can create a user profile document for themselves on signup
      allow create: if isOwner(userId);
    }

    match /feed/{feedItemId} {
      allow get, list: if true;
      // For this sample, we are making the feed read-only for clients.
      // In a real app, you would have admin roles to manage content.
      allow create, update, delete: if false;
    }
  }
}
